* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    height: 100vh;
}

.background {
    background: linear-gradient(305deg, #ff8f14, #ffc84d);
    height: 54.1vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    height: 70vh;
    align-items: center;
    padding-top: 2px;
    margin-top: 20em;
    box-shadow: 4px 6px 30px #b9b9b980;
    background: white;
    width: 27%;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
}

.heading1 {
    font-weight: 300;
    margin-top: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.inputContainer {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.para{
    text-align: center;
    margin-top: 2rem;
    width: 79%;
}

.emailInput {
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 12px 13px;
    color: black;
    font-size: 18px;
    transition: all 0.5s ease-in;
    box-shadow: 1px 3px 12px 0 rgb(97 97 97 / 16%);
    padding-left: 3.4rem;
    width: 100%;
    margin-bottom: 2rem;
    cursor: pointer;
    margin-top: 2rem;
}


.emailInput:hover {
    box-shadow: 1px 3px 12px 0 rgba(97, 97, 97, 0.336);
    
}

.iconContainer {
    position: absolute;
    background: #eeeeee;
    height: 28%;
    width: 18%;
    text-align: center;
    border-radius: 4px 0 0 34px;
    margin-top: 2rem;
}

.fas {
    color: #b8b8b8;
    padding-top: 1rem;
}

.floatingEmail {
    position: absolute;
    right: 10.7rem;
    top: 2.7rem;
    color: #ccc;
    font-size: 16px;
    pointer-events: none;
}

input:focus~.floatingEmail {
    color: #ffc84d;
    font-size: 12px;
    left: 4.2rem;
    top: 2rem;
    pointer-events: none;
}


.emailInput:valid + .floatingEmail{
    visibility: hidden;
    z-index: -1;
    transition: all 0.3s ease-out;
}

.btn{
    background: linear-gradient(305deg, #ff8f14, #ffc84d);
    color: #fff;
    padding: 0.8rem 0;
    border: none;
    outline: none;
    border-radius: 2rem;
    box-shadow: 1px 3px 12px 0 rgb(97 97 97 / 16%);
    transition: all 0.3s ease-in-out;
    margin-top: 1rem;
}

.btn:active{
    transform: translateY(3px);
}


.routes1{
    margin-top: 2rem;
    text-align: center;
}

.route1{
    margin-top: 1rem;
    cursor: default;
}

.route1 a{
    margin-left: 2px;
    text-decoration: none;
    color: #b8b8b8;
}

.route1 a:hover{
    color: #ffc84d;
}


.iconContainer > .MuiSvgIcon-root{
    font-size: 2.2rem;
    padding-top: 8px;
}